{% extends 'base.html' %}
{% load static %}
{% block content %}

        <p>Os campos marcados com <span class="aviso">*</span> são obrigatórios.</p>
        <br>
    </div>

    <form method="post">
        <fieldset>
            {{ cadastro.non_field_errors }}
            <div>
                {{ cadastro.cep.errors }}
                <label for="{{ cadastro.endereco.id_for_label }}">CEP</label> <span class="aviso">*</span> <br>
                {{cadastro.cep}}
            </div>
            <br>
            <div>
                {{ cadastro.endereco.errors }}
                <label for="{{ cadastro.endereco.id_for_label }}">Endereço</label> <span class="aviso">*</span> <br>
                {{cadastro.endereco}}
            </div>
            <br>
            <div>
                {{ cadastro.numero.errors }}
                <label for="{{ cadastro.numero.id_for_label }}">Número</label> <span class="aviso">*</span> <br>
                {{cadastro.numero}}
            </div>
            <br>
            <div>
                {{ cadastro.complemento.errors }}
                <label for="{{ cadastro.complemento.id_for_label }}">Complemento</label> <br>
                {{cadastro.complemento}}
            </div>
            <br>
            <div>
                {{ cadastro.bairro.errors }}
                <label for="{{ cadastro.bairro.id_for_label }}">Bairro</label> <span class="aviso">*</span> <br>
                {{cadastro.bairro}}
            </div>
            <br>
            <div>
                {{ cadastro.cidade.errors }}
                <label for="{{ cadastro.cidade.id_for_label }}">Cidade</label> <span class="aviso">*</span> <br>
                {{cadastro.cidade}}
            </div>
            <br>
            <div>
                {{ cadastro.uf.errors }}
                <label for="{{ cadastro.uf.id_for_label }}">UF</label> <span class="aviso">*</span> <br>
                {{cadastro.uf}}
            </div>
            <br>
            <div>
                {{ cadastro.descricao.errors }}
                <label for="{{ cadastro.descricao.id_for_label }}">Descrição</label> <br>
                {{cadastro.descricao}}
            </div>
            <div>
            <a href="index.html">
                <input type="submit" name="cadastro" id="cadastrarEndereco" value="Cadastrar">
                {% csrf_token %}
            </a>    
            </div>
        </fieldset>
    </form>

    <script type="text/javascript">
		$("#id_cep").focusout(function(){


			$.ajax({
				url: 'https://viacep.com.br/ws/'+$(this).val()+'/json/',
				dataType: 'json',
				success: function(resposta){
                    $("#id_endereco").val("...");
			        $("#id_bairro").val("...");
			        $("#id_cidade").val("...");
			        $("#id_uf").val("...");
                    if (resposta.erro == true){
                        $("#id_endereco").val("");
			            $("#id_bairro").val("");
			            $("#id_cidade").val("");
			            $("#id_uf").val("");
                    }else{
					    $("#id_endereco").val(resposta.logradouro);
					    $("#id_bairro").val(resposta.bairro);
					    $("#id_cidade").val(resposta.localidade);
					    $("#id_uf").val(resposta.uf);
					    $("#id_numero").focus();
                    }

                
				}
                });
		});
	</script>

</body>
</html>
    

</body>
</html>

{% endblock %}